* {
  box-sizing: border-box;
  margin: 0px;
}


h1 {
        font-family: 'Lato', serif;
        font-size: 80px;
        text-align: center;
        color: white;
         margin: 0px;
}


h2 {
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        font-weight: lighter; 
        font-size: 40px;
        color: #e9c213;
        text-align: center;
        margin-top: 50px;
}

h3 {
	     font-family: "Open Sans";
       font-weight: 300;
      font-style: italic;
        text-transform: uppercase;
        font-size: 16px;
        text-align: center;
        color: white;    
        border-style: solid; 
        border-width: thin;
        border-left: 0px;
        border-right: 0px;
        margin: 20px auto;
        display: inline-block;
        padding: 12px;
}

h4 {
	    font-family: 'Lato', serif;
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        margin-bottom: 15px;
}


h5 {
	background:rgba(233,194,19,.85);
  text-align:left;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  padding: 0.2em;
  padding-left: 0.5em;
}

h6 {
      font-family: "Open Sans";
      font-weight: 300;
      color: black;
      text-transform: uppercase;
      font-size: 2em;
      font-weight: lighter;
      text-align: left;
}

.address p {
  text-align:left;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 0.8em;
  display: inline-block;
  font-style: italic;
  color: #333;
}

.address p:last-child {
  margin-bottom: 1em;
}

.sections_title {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: italic;
  color: #333;
  width: 100%;
  height: auto;
  font-size: 4.800em;
  text-align: center;
  letter-spacing: 0.05em;
  margin-top: 0.3em;
  flex: 1 0 100%;
}


.overlay {  
  background:rgba(233,194,19,.85);
  text-align:center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4em;
  letter-spacing: 0.3em;
  cursor: pointer;
  text-transform: uppercase;
  a:link: white;
  a:visited color: white;
  a:hover: yellow;
  opacity:0;
  color: white;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  margin:0px;
  padding: 50px;
  transtition:all 0.3s ease;
}


.overlay:hover {
 opacity:1;
 color: white;
 -webkit-transofrm: scale(0.8);
 -ms-transform: scale(0.8);
 transofrm: scale(0.8);
}

#plus       {  
font-family:Roboto Condensed;
 font-weight:900;
 color:rgba(255,255,255,.85);
 font-size:96px;
}


a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: yellow;
}

#page-header {
  width: 100%;
  background: #e9c213;
  color: white;
  overflow: hidden;
  padding: 0 4%;
}

/*#page-header nav li:first-child{
  float:right;
  display: none;
  cursor: pointer;
}*/

#page-header a {
  color: inherit;
  text-decoration: none;
}
#page-header h1 {
  font-family: 'Lato', serif;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  font-style: black;
  text-align: left;
  margin: 19px 10px;
  float: left;
}

#page-header nav {
  float: right;
}

#page-header nav li {
  float: left;
  margin: 10px 5px;
  font-family: 'Lato', serif;
  text-transform: uppercase;
  font-size: 12px;
}

#page-header nav a {
  display: block;
  padding: 9px 5px;
}

#page-header nav li a:hover {
  color: yellow;
}

#page-header nav li.active a {
  background: #666;
}


p {
		font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
    text-align: center;
    line-height: 130%
}

.stars {
    font-size: 120px;
    text-align: center;
    color: #e9c213;
    margin: 0px;
    padding: 0px;
    line-height: 50px;
}

.button {
    background-color: #e9c213; /* yellow */
    border: none;
    color: black;
    padding: 25px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 4px;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    opacity: 0.75;
}

.button-small {
  background-color: #e9c213; /* yellow */
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 4px;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    opacity: 0.75;
}

.center {
	text-align: center;
}

ul {
	width: 100%;
	margin: auto;
	padding: 0px;
}

li {
	display: inline-block;
	margin: 1.5em auto;
}



.banner {
	background: url(../images/JacksonHeights_home2.jpg) center center no-repeat;
	background-size: cover;
	overflow: hidden;
/*	padding: 20%;*/
	height: 44em;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 1.5em;
  border-left: 0px;
  border-style: solid;
  border-color: #e9c213;
  text-align: center;
  background-attachment: fixed;
}

.banner_restaurant {
  background-color: white;
  width: 100%;
  background-size: cover;
  color: #ccc;
  overflow: hidden;
  height: auto; 
  font-family: 'Lato', serif;
  font-size: 60px;
  text-align: left;
}


.map {
	background: url(../images/jacksonheights-map.gif) center center no-repeat; 
	width: 100%;
	background-size: cover;
	overflow: hidden;
	height: auto;
	
}

.map-content {
	width: 35%;
	margin: 5% auto;
	text-align: center;
}

/*.content {
	width: 90%;
	margin: 25px auto;
	text-align: center;
	height: auto;
	padding: 0px;
  overflow: auto;
}
*/

.contentblog {
  width: 80%;
  margin: 25px auto;
  height: auto;
  padding: 0px;
}

.example {
  padding: 20px;
  margin: 10px 0 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;

}

.space-around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.restaurant-box {
  width: 320px;
  height: 250px;
  background-image:url(../images/JacksonHeights_restaurants_dosaDelight.jpg);
  background-repeat:no-repeat;
  background-size: center center;
  min-width: 200px;
  margin: 0.5em;
  font-family: Roboto;
  font-size: 15px;
  text-align: center;
}

.architecture-box {
  width: 320px;
  height: 250px;
  background-image:url(../images/JacksonHeights_architecture_dunolly.jpg);
  background-repeat:no-repeat;
  background-size: center center;
  min-width: 200px;
  margin: 0.5em;
  font-family: Roboto;
  font-size: 15px;
  text-align: center;
}




.blogspace  {
  width: 80%;
  max-width: 1000px;
  display: -webkit-flex;
  display: -ms-flxbox;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 4em;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.flex-container {
  display: -webkit-flex;
  display: -ms-flxbox;
  display: flex;
  margin: 1em;
  border: solid;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex1 {
  -webkit-flex;
  -ms-flxbox;
  flex: 1 0 0px;;
}

.image_blog  {
min-width: 375px;
flex: 1 0 0px;
width: 100%;
height: auto;
padding: 1em;
padding-top: 0px;
}


.blog_content {
 flex: 1 0 350px;
padding: 1em;
padding-top: 0px;
 max-width: 560px;
}

.blog_content p {
 font-family: "Open Sans";
 font-weight: 300;
 font-size: 1em;
 line-height: 1.7em;
 text-align: left;
  color: gray;  
}


.blog h4 {
	font-family: 'Lato', serif;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 15px;
  clear: right;
  display: inline-block;
  float: left;
}

.divider {
	border-style: solid; 
    border-width: thin;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-color: #ccc;
}


.wrapper {
	width: 100%;
	text-align: left; 
}

#instagram {
	width: 170px;
	height: 170px;
	margin: 7px;
	background-color: #e9c213;
	text-align: center;
	padding: 50px;
}

footer {
  width: 100%;
  background-color: #333;
  text-align: left;
  height: 200px;
  padding: 5%;
}

.columndiv {
  width: 30%;
  float: left;
  overflow: auto;
}

.columndiv2 {
  width: 85%;
  float: left;
  overflow: auto;
  padding: 0px;
}

.columndiv3 {
  width: 15%;
  float: left;
  margin-top: 2.5%;
  overflow: auto;
  min-width: 150px;
}

.advertisement {
  width: 90%;
  height: 200px;
  background-color: #ccc;
  padding: 2%;
  margin-bottom: 10%;;

}



footer h1 {
   font-family: 'Lato', serif;
   font-size: 0.875em;
   text-align: left;
   font-weight: bold;
   color: white;
   text-transform: uppercase;
   letter-spacing: 1px;
   margin: 5px;
}

footer p {
   font-family: 'Lato', serif;
   font-size: 0.875em;
   text-align: left;
   font-weight: normal;
   color: white;
   letter-spacing: 1px;
   margin: 5px;
}


.hvr-bubble-bottom {
  image_blodisplay: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  background-color: #e9c213; /* yellow */
    border: none;
    color: black;
    padding: 25px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 4px;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    opacity: 0.75;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;   
}

.hvr-bubble-bottom:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  left: calc(50% - 10px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: #e9c213 transparent transparent transparent;
}

.hvr-bubble-bottom:hover:before, .hvr-bubble-bottom:focus:before, .hvr-bubble-bottom:active:before {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

#hamburgerMenu {
  display: none;
}

@media only screen and (max-width: 1000px) {

body{
  font-size: 16px;
}

nav{
  width: 100%;
}

#hamburgerMenu {
  display: block;
  float: right;
  position: relative;
  top: -40px;
  padding: 0px;
}

.hamburger-items {
  height: 305px;
  text-align: right;
  transition: height 1s;
  margin-top: 30px;

}

.hamburger-items.close {
  height: 0px;
  overflow: hidden;
}

.hamburger-items li {
  display: block;
  float: left;

}

.lines {
  cursor: pointer;
  float: right;
}

.line {
  background: black;
  height: 4px;
  width: 40px;
  margin: 4px 0;
  border-radius: 4px;
}


#page-header nav li{
float: none;
}

#page-header nav #responsive-nav {
display:block;
position: absolute;
top:.25em;
right:.5em;
}

nav > ul {
height:0;
transition:height 1s;
overflow: hidden;
}

.map-content {
  width: 80%;
  margin: 5% auto;
  text-align: center;
}

#button_restaurants {
  width: 30%;
  min-width: 300px;
  height: 290px;
  margin: 1%;
  font-family: Roboto;
  font-size: 15px;
  text-align: center;
  padding: 0px;
  background-image:url(../images/JacksonHeights_restaurants_samudra.jpg);
  background-repeat:no-repeat;
  background-size: center center;

}

#button_coffee {
  width: 30%;
  min-width: 300px;
  height: 290px;
  margin: 1%;
  font-family: Roboto;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  background-image:url(../images/JacksonHeights_coffee_2.jpg);
  background-repeat:no-repeat;
   background-size: center center;

}

#button_shopping {
  width: 30%;
  min-width: 300px;
  height: 290px;
  margin: 1%;
  font-family: Roboto;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  background-image:url(../images/JacksonHeights_shops_2.jpg);
  background-repeat:no-repeat;
  background-size: center center;

}

#button_architecture {
  width: 30%;
  min-width: 300px;
  height: 290px;
  margin: 1%;
  font-family: Roboto;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  background-image:url(../images/JacksonHeights_architecture_dunolly.jpg);
  background-repeat:no-repeat;
  background-size: center center;

}

#button_cuture {
  width: 30%;
  min-width: 300px;
  height: 290px;
  margin: 1%;
  font-family: Roboto;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  background-image:url(../images/JacksonHeights_culture2.jpg);
  background-repeat:no-repeat;
  background-size: center center;

}

#button_park {
  width: 30%;
  min-width: 300px;
  height: 290px;
  margin: 1%;
  font-family: Roboto;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  background-image:url(../images/JacksonHeights_greenmarket.jpg);
  background-repeat:no-repeat;
  background-size:cover;

}

.columndiv3 {
  width: 100%;
  float: left;
  margin-top: 2.5%;
  overflow: auto;
  min-width: 150px;  
}

.columndiv2 {
  width: 100%;
}

.advertisement {
  width: 30%;
  height: 250px;
  background-color: #ccc;
  padding: 2%;
  margin-bottom: 10%;
  float: left;
  margin-left: 2%;
}

@media only screen and (max-width: 550px) {

.sections_title {
  font-size: 2.500em;ima

}

}



